SpaceInvaders/src/main/assets/campaign/scheme/campaign_scheme_definition.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="campaigns">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="background" maxOccurs="1" minOccurs="0" type="xs:string"/>
                <xs:element name="parallax_background" maxOccurs="1" type="xs:boolean"
                            minOccurs="0"/>

                <xs:element name="campaign" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="picture" type="xs:string"/>
                            <xs:element name="width" type="xs:integer"/>
                            <xs:element name="height" type="xs:integer"/>
                            <xs:element name="position">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="1" minOccurs="1">
                                        <xs:element name="x" type="xs:float"/>
                                        <xs:element name="y" type="xs:float"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- missions only -->
                            <xs:element name="mission" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="player_alliance" type="xs:string"/>
                                        <xs:element name="opponent_alliance" type="xs:string"/>
                                        <xs:element name="max_oxygen"
                                                    type="xs:integer"
                                                    minOccurs="0"/>
                                        <xs:element name="planet_health"
                                                    type="xs:integer"
                                                    minOccurs="0"/>
                                        <xs:element name="movable_units_limit"
                                                    type="xs:integer"
                                                    minOccurs="0"/>
                                        <!-- mission type, time and all addition params -->
                                        <xs:element name="definition">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- mission time limit -->
                                                    <xs:element name="time_limit"
                                                                minOccurs="0"
                                                                type="xs:nonNegativeInteger"/>
                                                    <!--
                                                    type: collect 500 gold,
                                                    survive for some time,
                                                    win only with particular units,
                                                    default - destroy enemies
                                                    -->
                                                    <xs:element name="type" type="xs:string"/>
                                                    <!--
                                                    additional field used to
                                                    add mission description.
                                                    E.g. if the goal to win with particular unit type
                                                    then here will be the unit type
                                                    -->
                                                    <xs:element name="value"
                                                                minOccurs="0"
                                                                type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:nonNegativeInteger"
                                                  use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>